@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CABEÇALHO */
header {
    max-width: 100%; /* Define a largura máxima */
    height: 100px;
    background-color: #840c15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow-x: hidden; /* Para evitar a barra de rolagem horizontal */
}

body {
    margin: 0;
    background-attachment: fixed;
    background-color: #05061e;
    font-family: 'poppins', sans-serif;
}

h1 {
    font-weight: bold;
    color: #fff;
    margin: 0;
}

h1 span{
  font-style: italic;
  font-weight: 400;
}
/* BARRA DE PESQUISA */
form.example {
    display: flex;
    flex: 1;
    max-width: 800px;
}

form.example input[type=text] {
    flex: 1;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.example button {
    padding: 10px 20px;
    background: #ba2221;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

form.example button:hover {
    background-color: rgb(109, 17, 17);
}

/* BOTÕES DE LOGIN/CADASTRO */
.btn-container {
    display: flex;
    align-items: center;
}

.btn-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ba2221;
    color: #fff; /* Mudando a cor do texto para preto */
    font-weight: bold; /* Deixando o texto mais grosso */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px; /* Adiciona espaçamento entre os botões */
}

button:last-child {
    margin-right: 0; /* Remove a margem direita do último botão */
}

button:hover {
    background-color: rgb(109, 17, 17);
}

/*CABEÇALHO COMPLETO*/


/* .area-imagem{
    margin: 4% 12%;
    border-radius: 20px;
    padding: 10px 7px;
    background-color: #000; 
} */


.container{
  max-width: 100%;
  margin: 2% 2%;
  display: flex;
}

.container img{
  max-width: 50%; /* Para imagens lado a lado, cada uma pode ter no máximo 50% da largura do container */
  height: auto; /* Para manter a proporção da imagem */
  float: left; /* Para alinhar as imagens lado a lado */
  flex: 1;
}



/* .display-flex-space-every > img{
    background: rgb(255, 255, 255);
    border-radius: 10px;
} */

/* .display-flex-space-every{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
}  */

.display-flex-start {
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 300px;
}

.display-flex-start > h1{
    margin-bottom: 0;
    font-weight: 400;
    font-size: 400%;
    text-align: center;
}


/* site disponíveis */

/* ------------ skills ------------------ */
 
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .skills2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .skills3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
   
  .line {
    border: 2px #FF4D00 solid;
    width: 17rem;
    margin-bottom: 1rem;
  }
   
  .tech h2 {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 5rem;
    line-height: 6.6rem;
    color:#fff;
  }
   
  .techs {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 80rem;
    margin-bottom: 5rem;
  }
   
  .tool h2 {
    font-weight: 400;
    font-size: 5rem;
    line-height: 4.7rem;
    margin-bottom: 3rem;
    color: #fff;
  }
   
  .tools {
    max-width: 65rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 5rem;
  }
   
  .card {
    padding: 3rem;
    background: #182143;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
    transition: all 0.4s ease;
    color: white;
  }
  section#skills.skills{
      background-color: #05061e;

  }

  section#skills3.skills3{
    background-color: #05061e;

}

  section#skills2.skills2{
      background: #840c15;
  }
   
  .card p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.9rem;
  }
   
  .card:hover {
    cursor: pointer;
    background-color: #182143;
    transform: translateY(-10px);
  }

  .card2:hover {
    cursor: pointer;
    background-color: #ba2221;
    transform: translateY(-10px);
  }
   
  .card img {
    width: 7rem;
    height: 7rem;
  }

  p {
     color:#fff;
  }
   
  .tools .card img {
    height: 5rem;
    width: 5rem;
  }

  /* arrumar o tamanho da imagem do card dos Livros, deixar igual ao do de Sites/Artigos */
.card2{
  padding: 3rem;
  background: #ed2625;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 8px;
  transition: all 0.4s ease;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.9rem;
}
.card3 {
  padding: 3rem;
  background: #182143;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 8px;
  transition: all 0.4s ease;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.9rem;
}

.card3:hover {
  cursor: pointer;
  background-color: #182143;
  transform: translateY(-10px);
}

/* FOOTER/SOBRE em produção/tendo ideias*/

.sobre {
  background-color: #840c15;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

h2.sobr{
  font-weight: 400;
  font-size: 5rem;
  line-height: 4.7rem;
  margin-bottom: 3rem;
  color: #fff;
  text-align: center;
  margin-left: 0;
  margin-top: 40px;
}

ul, li{
  color: #fff;
  margin-left: 10px;
}

h3{
  color: #fff;
  margin-left: 40px;
}

h4{
  color: #fff;
  margin-left: 1520px;
  margin-top: 0;
}

.objetivos{
  text-align: justify;
  margin-left: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

p.text{
  font-size:24px;
  align-items: flex-start;
}

